<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield :title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-gray-50 text-gray-900">
    <%= render "layouts/header" %>

    <div class="flex min-h-screen">
      <%= render "layouts/navbar" %>

      <main class="flex-1 container mx-auto px-5 py-6">
        <%= render "layouts/flash" %>
        <div class="flex justify-center items-start">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
